.adminforgetrequested-wrapper {
    display: flex;
    height: 100vh;
    background: linear-gradient(45deg, #EFFAF1, #7ecb89);
  }
  
  .adminforgetrequested-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .adminforgetrequested-image {
    width: 60%;
    height: 80%;
    position: relative;
    right: 8rem;
  }
  
  .adminforgetrequested-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    padding: 3rem;
    position: relative;
    right: 10rem;
    max-width: 400px;
    height: 35rem;
    min-height: 350px;
    margin: auto;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
  }
  
  .adminforgetrequested-logo-image {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto 1rem;
    position: relative;
    bottom: 1rem;
  }
  
  .adminforgetrequested-subtitle {
    font-size: 0.9rem;
    color: #4D4D4D;
    margin-bottom: 2rem;
    font-family: 'Inter', sans-serif;
    position: relative;
    bottom: 0.7rem;
  }
  
  .adminforgetrequested-subsubtitle {
    font-size: 0.8rem;
    position: relative;
    bottom: 15px;
    color: #246C3E;
    font-family: 'Inter', sans-serif;
    position: relative;
    bottom: 1.5rem;
  }
  
  .adminforgetrequested-form {
    width: 100%;
    max-width: 400px;
  }
  
  .adminforgetrequested-otp-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  
  .adminforgetrequested-otp-input {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px solid #DCD9D9;
    border-radius: 8px;
    outline: none;
    opacity: 0.8;
  }
  
  .adminforgetrequested-otp-input:focus {
    border-color: #42bb4e;
    box-shadow: 0 0 5px rgba(66, 187, 78, 0.5);
  }
  
  .adminforgetrequested-field {
    margin-bottom: 1.5rem;
    color: #ba5151;
  }
  
  .adminforgetrequested-label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #4D4D4D;
    font-size: 0.9rem;
  }
  
  .adminforgetrequested-input {
    width: 100%;
    padding: 0.75rem;
    font-size: 0.8rem;
    border: 1px solid #DCD9D9;
    border-radius: 8px;
    outline: none;
    opacity: 50%;
  }
  
  .adminforgetrequested-input:focus {
    border-color: #42bb4e;
    box-shadow: 0 0 5px rgba(66, 187, 78, 0.5);
  }
  
  .adminforgetrequested-button {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    background-color: #42bb4e;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 1rem;
  }
  
  .adminforgetrequested-button:hover {
    background-color: #20812a;
  }
  
  .adminforgetrequested-back {
    text-align: center;
    margin-top: 1rem;
  }
  
  .adminforgetrequested-back-link {
    color: #4D4D4D;
    text-decoration: underline;
    font-size: 0.8rem;
  }
  
  .adminforgetrequested-back-link:hover {
    text-decoration: underline;
  }