.studentlogin-wrapper {
  display: flex;
  height: 100vh;
  background: linear-gradient(45deg, #EFFAF1, #7ecb89);
  
}

.studentlogin-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.studentlogin-image {
  width: 60%;
  height: 80%;
  position: relative;
  right: 8rem;
  
}

.studentlogin-right {
flex: 2;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #ffffff;
box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
padding: 3rem;
position: relative;
right: 10rem;

/* Adjust width and height for smaller size */
max-width: 400px; /* Limit the width */
height: 35rem; /* Allow height to adapt */
min-height: 350px; /* Set a minimum height */
margin: auto; /* Center the box */
border-radius: 10px; /* Optional: rounded corners */
font-family: 'Inter', sans-serif;
}

.studentlogin-logo-image {
  width: 100px; /* Adjust the size as needed */
  height: auto; /* Keep the aspect ratio */
  display: block; /* Ensures it's not inline */
  margin: 0 auto 1rem; /* Center align and add spacing below */
  position: relative;
  bottom: 1rem;
}


.studentlogin-subtitle {
  font-size: 0.9rem;
  color: #4D4D4D;
  margin-bottom: 2rem;
  font-family: 'Inter', sans-serif;
  position: relative;
  bottom: 0.7rem;
}

.studentlogin-subsubtitle {
  font-size: 0.8rem;
  position: relative;
  bottom: 15px;
  color: #246C3E ;
  font-family: 'Inter', sans-serif;
  position: relative;
  bottom: 1.5rem;
}

.studentlogin-form {
  width: 100%;
  max-width: 400px;
}

.studentlogin-field {
  margin-bottom: 1.5rem;
  color: #ba5151;
}



.studentlogin-label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #4D4D4D;
  font-size: 0.9rem;
  
}

.studentlogin-input {
  width: 100%;
  padding: 0.75rem;
  font-size: 0.8rem;
  border: 1px solid #DCD9D9;
  border-radius: 8px;
  outline: none;
  opacity: 50%;
}

.studentlogin-input:focus {
  border-color: #42bb4e;
  box-shadow: 0 0 5px rgba(66, 187, 78, 0.5);
}

.studentlogin-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  width: 100%;
}

.studentlogin-rememberme input {
  margin-right: 0.5rem;
  width: 10px; /* Decrease the size of the checkbox */
  height: 10px; /* Decrease the size of the checkbox */
  position: relative;
  bottom: 5px;
  
}

.remember-text {
  font-size: 0.8rem; /* Reduce font size */
  position: relative;
  bottom: 5px;
  
}


.studentlogin-forgot {
  color: #4D4D4D;
  text-decoration: underline;
  font-size: 0.8rem;
  position: relative;
  bottom: 5px;
}

.studentlogin-forgot:hover {
  text-decoration: underline;
}

.studentlogin-button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #42bb4e;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.studentlogin-button:hover {
  background-color: #20812a;
}