.studentforget-requested-wrapper {
    display: flex;
    height: 100vh;
    background: linear-gradient(45deg, #EFFAF1, #7ecb89);
  }
  
  .studentforget-requested-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .studentforget-requested-image {
    width: 60%;
    height: 80%;
    position: relative;
    right: 8rem;
  }
  
  .studentforget-requested-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    padding: 3rem;
    position: relative;
    right: 10rem;
    max-width: 400px;
    height: 35rem;
    min-height: 350px;
    margin: auto;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
  }
  
  .studentforget-requested-logo-image {
    width: 105px;
    height: auto;
    display: block;
    margin: 0 auto 1rem;
    position: relative;
    bottom: 0rem;
  }
  
  .student-forget-requested-success-icon {
    margin: 2rem 0;
    animation: scaleIn 0.5s ease-out;
  }
  
  @keyframes scaleIn {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .studentforget-requested-title {
    font-size: 1.5rem;
    color: #246C3E;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .studentforget-requested-subtitle {
    font-size: 0.9rem;
    color: #4D4D4D;
    margin-bottom: 2rem;
    text-align: center;
    max-width: 80%;
    line-height: 1.5;
  }
  
  .studentforget-requested-button {
    width: 100%;
    max-width: 400px;
    padding: 0.75rem;
    font-size: 1rem;
    background-color: #42bb4e;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .studentforget-requested-button:hover {
    background-color: #20812a;
  }